<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVC</title>
</head>
<body>
    <p>欢迎使用啦啦啦的框架</p>
</body>
</html>-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="<?=__PUBLIC__.'phpadmin/'?>jquery-1.7.2.js" type="text/javascript">
    </script>
    <script>
        $(function(){
            $('.btn').click(function(){
                $('.aa').toggle();
            })

        })

    </script>
</head>
<body>

<p class="aa">啊啊啊啊啊啊啊啊啊啊啊</p>
<button class="btn">点击</button>




</body>
</html>